/*
 * GENERAL
 */
#containerDiv {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

#content {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.stageTitle {
    font-size: 24px;
}

.stageDiv {
    padding: 20px;
}

hr {
    opacity: 0.2;
}

html, body {
    margin: 0;
    padding: 0;
}

/*
 * TITLE
 */
#titleDiv {
    width: 100%;
    background-color: #B80000;
    padding: 5px;
    margin-bottom: 40px;
}

#titleText {
    font-family: Open Sans;
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    color: white;
}

/*
 * PICK MAJOR
 */
#pickMajorDiv {
    width: 60%;
    margin: 0 auto;
    padding-top: 0px;
}

#pickMajorDiv div {
    padding-top: 20px;
    padding-bottom: 20px;

    width: 49%;

    background-color: #CAD0D5;
}

#coenMajor {
    float:left;
}

#webMajor {
    float:right;
}

#pickMajorDiv div:hover {
    background-color: #B2E0FF;
}

#pickMajorDiv div:active {
    background-color: #8EB3CC;
}

#majorCertaintyQuestion {
    margin-top: 80px;
}

/*
 * PICK AP
 */
.apScoreNums {
    font-size: 14px;
}

.apScoreNums:hover {
    color: #33ADFF;
}

.noneButton {
    border: 2px solid blue;
}

#apClassTable {
    margin: 0 auto;
}

#apClassTable td {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 15px;
}

#apClassTable input {
    margin-left:15px;
    margin-right:5px;
    vertical-align: 2px;
}

#apClassTable form {
    margin-top: 10px;
}

.apSubjectTitle {
    font-size: 18px;
    text-decoration: underline;
}

/*
 * PICK TRANSFER CREDITS
 */
#transferCreditsTable {
    margin: 0 auto;
}

#transferCreditsTable td {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

#transferCreditsTable th {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    text-decoration: underline;
}

/*
 * CALC READINESS
 */
#calcReadyDiv td {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;
}

#calcReadyDiv input {
    margin-left:15px;
    margin-right:5px;
    vertical-align: 2px;
}

/*
 * SCHEDULE
 */
#scheduleTable {
    margin: 0 auto;
    border: 2px solid black;

    height: 300px;
    width: 700px;
}

#scheduleTable td {
    padding: 10px;
    border: 1px solid black;

    width: 235px;
}

#creditsParagraph, #printoutTitle {
	display:none;
}