#pickMajorDiv, #majorCertaintyDiv, #pickApDiv, #pickTransferCreditsDiv, #calcReadyDiv, #printScheduleButton, #scheduleTitle, #titleText, hr {
	display:none;
}

table{
    width: 100%
}

#creditsParagraph, #printoutTitle {
	display:block;
}